@(countDetail: (Option[models.entities.Count], Seq[(String, models.entities.CountDetailByProduct)]))(implicit msg: play.api.i18n.Messages)


@main("Detalle Compra", 2) {

<p> @for(count <- countDetail._1) {
    Fecha:  @count.date
    }
</p>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Anterior</th>
        <th>Actual</th>
        <th>Vendido</th>
        <th>Precio Venta</th>
        <th>Precio Total</th>
    </tr>
    </thead>
    <tbody>
    @for(product <- countDetail._2){
    <tr>
        <td>@product._1</td>
        <td>@(product._2.quantity + product._2.soldQuantity)</td>
        <td>@product._2.quantity</td>
        <td>@product._2.soldQuantity</td>
        <td>@product._2.salePrice</td>
        <td>@(product._2.soldQuantity*product._2.salePrice)</td>
    </tr>
    }
    </tbody>
</table>

}
