@(earningsPerDate: List[(Long, java.sql.Timestamp, Int, Option[Int])])(implicit msg: play.api.i18n.Messages)


@main("Conteos",3) {
  <h1>Conteos</h1>
<a href="/conteos/nuevo" class="btn btn-default">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo Conteo
</a>
  <table class="table table-striped">
    <thead>
      <th>Conteo</th>
      <th>Real</th>
      <th>Esperado</th>
    </thead>
    <tbody>
    @for(earnings <- earningsPerDate) {
      <tr>
        <td>@earnings._2</td>
        <td>@earnings._3</td>
        <td>@earnings._4</td>
      </tr>
    }
    </tbody>
  </table>

}