@(title: String, current: Int)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <script src="@routes.Assets.versioned("bower_components/jquery/dist/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("bower_components/bootstrap/dist/js/bootstrap.min.js")" type="text/javascript"></script>

        <link href="@routes.Assets.versioned("bower_components/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <ul class="nav nav-pills nav-justified">
            <li class="@if(current == 1) {active}"><a href="productos">Productos</a></li>
            <li class="dropdown @if(current >= 2 && current <= 3 ) {active}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                role="button" aria-haspopup="true" aria-expanded="false">
                    Registros <span class="caret"></span>
                </a>
                <ul class="dropdown-menu nav-pills nav-justified">
                    <li class="@if(current == 2) {active}"><a href="compras">Compras</a></li>
                    <li class="@if(current == 3) {active}"><a href="conteos">Conteos</a></li>
                </ul>
            </li>
            <li class="@if(current == 4) {active}"><a href="estadisticas">Estadísticas</a></li>
        </ul>
        <div id="content" class="container">
        @content
        </div>
    </body>
</html>
