@()(implicit msg: play.api.i18n.Messages)

@main("Nuevo Conteo", 3) {
<div ng-controller="newCountCtrl">
    <h1>Nuevo Conteo</h1>

    <div>
        <form name="newCount" action="#" ng-submit="submitForm()">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Stock anterior</th>
                    <th>Stock actual</th>
                    <th>Vendido</th>
                    <th>Precio</th>
                    <th>Ganancias esperadas</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in form.countDetails">
                    <td>{{ product.product }}</td>
                    <td>{{ product.previousStock }}</td>
                    <td><input class="form-control input-sm" type="number" ng-model="product.remainingQuantity"
                        ng-change="updateExpectedEarnings($index)"></td>
                    <td>{{ product.soldQuantity }}</td>
                    <td>{{ product.salePrice }}</td>
                    <td>{{ expectedEarnings[$index] }}</td>
                </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Total:</b></td>
                        <td><b>{{ expectedSum }}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b>Ganancias Reales:</b></td>
                        <td><input class="form-control input-sm" type="number" ng-model="form.actualEarnings"></td>
                    </tr>
                </tbody>
            </table>



            <input type="submit">
        </form>
    </div>
    {{form}}
</div>
}
