@()(implicit msg: play.api.i18n.Messages)


@main("Nueva Compra", 2) {
    <div ng-controller="newPurchaseCtrl">
        <h1>Nueva compra</h1>

        <div>
            <form name="newPurchase" action="#" ng-submit="submitForm()">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Paquetes</th>
                            <th>Cant/Paquete</th>
                            <th>Precio/Paquete</th>
                            <th>Precio Unidad</th>
                            <th>Precio Venta</th>
                            <th>
                                <button type="button" class="btn btn-sm btn-primary" ng-click="newProduct()">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in bag">
                            <td><input class="form-control input-sm" type="text" ng-model="product.name"
                            uib-typeahead="product.name for product in products | filter:$viewValue | limitTo:8"></td>
                            <td><input class="form-control input-sm" type="number" ng-model="product.packages"></td>
                            <td><input class="form-control input-sm" type="number" ng-model="product.quantityPerPackage"></td>
                            <td><input class="form-control input-sm" type="number" ng-model="product.pricePerPackage"></td>
                            <td>{{ product.pricePerPackage/product.quantityPerPackage | number }}</td>
                            <td><input class="form-control input-sm" type="number" ng-model="product.salePrice"></td>
                            <td>
                                <button type="button" class="btn btn-sm btn-danger" ng-click="removeProduct($index)">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input class="btn btn-default" type="submit">
            </form>
        </div>
        {{form}}
    </div>
}
