@(periods: List[(java.sql.Timestamp, Option[Int])])(implicit msg: play.api.i18n.Messages)


@main("Compras", 2) {
    <h1>Compras</h1>
    <div ng-controller="newPurchaseCtrl">
        <button type="button" class="btn btn-default" ng-click="open('lg')">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Compra
        </button>

        <table class="table table-striped">
            <thead>
                <th>Compra</th>
                <th>Gasto</th>
            </thead>
            <tbody>
            @for(period <- periods) {
                <tr>
                    <td> @period._1 </td>
                    <td> @period._2 </td>
                </tr>
            }
            </tbody>
        </table>

}