@(purchases: List[(Long, java.sql.Timestamp, Option[Int])])(implicit msg: play.api.i18n.Messages)


@main("Compras", 2) {
<h1>Compras</h1>
<a href="/compras/nueva" class="btn btn-default">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Compra
</a>
<table class="table table-striped">
  <thead>
  <th>Compra</th>
  <th>Gasto</th>
  </thead>
  <tbody>
  @for(purchase <- purchases) {
  <tr>
    <td><a href="/compras/@purchase._1">@purchase._2</a></td>
    <td>@purchase._3</td>
  </tr>
  }
  </tbody>
</table>

}